<div class="content">
    <div class="level">
        <div class="level-left">
            <figure class="image is-64x64 level-item ">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png" alt="">
            </figure>
            <%= user.username %>
        </div>
        <div class="level-right">
            <%= link_to 'See profile', user_path(user), class:'button  level-item is-primary' %>
            <%= form_with url: friendship_requests_path do |f| %>
                <%= f.hidden_field :addressee_id, value: user.id %>
                <%= f.submit 'Send friend request', class: 'button level-item is-dark' %>
            <% end %>
        </div>
    </div>
</div>