<div class="navbar-item">
    <div class="columns">
    <div class="column is-4">
        <strong><%= request.requester.username %></strong>
    </div>
    <div class="column is-4">
        <%= form_with url: friendships_path do |f| %>
        <%= f.hidden_field :friend_id, value: request.requester_id %>
        <%= f.hidden_field :request_id, value: request.id %>
        <%= f.submit 'Accept', class:'button is-small is-primary' %>
        <% end %>
    </div>
    <div class="column is-4">
        <%= button_to "Refuse", request, method: :delete, class: 'button is-small is-danger is-outlined' %>
    </div>
    </div>
</div>